body,
html {
  background-color: black;
  overflow: unset;
  margin: 0px;
  text-align: center;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ch1 {
  background-color: red;
}

.ch2 {
  background-color: green;
}

.ch3 {
  background-color: blue;
}

.radio-label {
  color: white;
  margin-right: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.label {
  color: white;
  margin-right: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.measureLabel {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.speedLabel {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
